*{
margin: 0px;
padding: 0px;
font-family: sans-serif;
}
body{
    height: 100vh;
    background: radial-gradient(rgb(148, 224, 233), rgb(6, 150, 255));
}
.container{
    height: 60vh;
    width: 30vw;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
.box{
    height: 250px;
    width: 250px;
}